@charset "utf-8";

/* Vazir regular with Roboto support for Latin. Visit https://rastikerdar.github.io/vazir-font/ */
@font-face {
  font-family:'Vazir';
  font-style:normal;
  font-weight:400;
  src:url('/fonts/vazir.eot'); /* IE9 Compat Modes */
  src:local('Vazir Regular'),
       url('/fonts/vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/vazir.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/vazir.woff') format('woff'), /* Modern Browsers */
       url('/fonts/vazir.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
    color:#444;
    overflow-x:hidden;
    background:#fefefe;
    padding:1em;
    margin:auto;
    max-width:62em;
    font-family:'Vazir';
    font-size:1em;
}

a {
    color:#0645ad;
    text-decoration:none;
}
a:visited { color:#0b0080; }
a:hover { color:#06e; }
a:active { color:#faa700; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }

::-moz-selection {
    background:rgba(255,255,0,0.3);
    color:#000
}

::selection {
    background:rgba(255,255,0,0.3);
    color:#000
}

a::-moz-selection {
    background:rgba(255,255,0,0.3);
    color:#0645ad
}

a::selection {
    background:rgba(255,255,0,0.3);
    color:#0645ad
}

p {
    margin:1em 0;
}

img {
    max-width:100%;
}

h1, h2, h3, h4, h5, h6 {
    color:#111;
}

blockquote {
    color:#777;
    margin:2em 0;
    padding-right:3em;
    border-right:0.5em #eee solid;
}

hr {
    display:block;
    height:2px;
    border:0;
    border-top:1px solid #aaa;
    border-bottom:1px solid #eee;
    margin:1em 0;
    padding:0;
}

img {
    border:0;
    -ms-interpolation-mode:bicubic;
    vertical-align:middle;
}

@media only screen and (min-width:480px) {
    body { font-size:14px; }
}

@media only screen and (min-width:768px) {
    body { font-size:16px; }
}

@media print {
  * {
      background:transparent !important;
      color:black !important;
      filter:none !important;
      -ms-filter:none !important;
  }

  body { font-size:12pt; max-width:100%;}
  a, a:visited { text-decoration:underline; }
  hr { height:1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
  pre, blockquote { border:1px solid #999; padding-left:1em; page-break-inside:avoid; }
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page :left { margin:15mm 10mm 15mm 20mm; }
  @page :right { margin:15mm 20mm 15mm 10mm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3 { page-break-after:avoid; }
}

#header-top {
    border:2px solid #000;
    background-color:#3D4F5D;
    text-align:center;
}

#header-top h1 { color:#fff; }
#header-top h2 { color:#A5BECF; }
#date {
    margin-left:2px;
    text-align:left;
    font-size:10px;
    color:#a5becf;
}
#cartoon {
    text-align:center;
    margin:50px 0;
}
#cartoon img {
    border:1px solid #999;
}
